<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_kernLC_a1</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
	</array>
	<key>@MMK_L_kernLC_c1</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_kernLC_d</key>
	<array>
		<string>d</string>
	</array>
	<key>@MMK_L_kernLC_e1</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_kernLC_f1</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_kernLC_g1</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_L_kernLC_i1</key>
	<array>
		<string>i</string>
		<string>j</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
		<string>fi</string>
	</array>
	<key>@MMK_L_kernLC_k1</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_L_kernLC_l1</key>
	<array>
		<string>l</string>
		<string>fl</string>
	</array>
	<key>@MMK_L_kernLC_n1</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_kernLC_o1</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
	</array>
	<key>@MMK_L_kernLC_q1</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_kernLC_r1</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_kernLC_s1</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_L_kernLC_t1</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_kernLC_u3</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>@MMK_L_kernLC_v3</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>@MMK_L_kernLC_x3</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_kernLC_y3</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_kernLC_z3</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_L_kern_A3</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
	</array>
	<key>@MMK_L_kern_B1</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_kern_C1</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_kern_E1</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_kern_F1</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_kern_G1</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_kern_H1</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
	</array>
	<key>@MMK_L_kern_J1</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_kern_K1</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_kern_L1</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_kern_N1</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_kern_O1</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
	</array>
	<key>@MMK_L_kern_P1</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_kern_R1</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_kern_S3</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_L_kern_T3</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_kern_U3</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>@MMK_L_kern_V3</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_L_kern_X3</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_kern_Y3</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_kern_Z3</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_kern_ampersand3</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_L_kern_asterisk3</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_kern_at3</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_L_kern_backslash3</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_L_kern_braceleft1</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_kern_braceright1</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_L_kern_bullet3</key>
	<array>
		<string>bullet</string>
	</array>
	<key>@MMK_L_kern_colon3</key>
	<array>
		<string>semicolon</string>
		<string>colon</string>
	</array>
	<key>@MMK_L_kern_comma3</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_kern_copyright3</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_L_kern_dagger3</key>
	<array>
		<string>dagger</string>
	</array>
	<key>@MMK_L_kern_daggerdbl3</key>
	<array>
		<string>daggerdbl</string>
	</array>
	<key>@MMK_L_kern_degree3</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_L_kern_equal3</key>
	<array>
		<string>equal</string>
	</array>
	<key>@MMK_L_kern_exclam3</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_L_kern_exclamdown3</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_L_kern_fraction3</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_L_kern_greater3</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_L_kern_guillemotleft3</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_kern_guillemotright3</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_kern_hyphen3</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
	</array>
	<key>@MMK_L_kern_less3</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_L_kern_notdef3</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>@MMK_L_kern_parenleft1</key>
	<array>
		<string>parenleft</string>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_kern_parenright1</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
	</array>
	<key>@MMK_L_kern_percent3</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_L_kern_period3</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_L_kern_plus3</key>
	<array>
		<string>plus</string>
		<string>divide</string>
	</array>
	<key>@MMK_L_kern_question3</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_L_kern_questiondown3</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_L_kern_quotedblleft3</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_kern_quotedblright3</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_L_kern_registered3</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_L_kern_slash3</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_L_kern_space3</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_R_kernLC_a2</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_kernLC_f2</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>@MMK_R_kernLC_g3</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_R_kernLC_i2</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
	</array>
	<key>@MMK_R_kernLC_j2</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_kernLC_l2</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
	</array>
	<key>@MMK_R_kernLC_n2</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>ntilde</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>@MMK_R_kernLC_o2</key>
	<array>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_kernLC_s2</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_kernLC_t2</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_kernLC_x3</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_kernLC_y3</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_kernLC_z3</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_kernLP_numbersign3</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>@MMK_R_kern_A3</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
	</array>
	<key>@MMK_R_kern_AE2</key>
	<array>
		<string>AE</string>
	</array>
	<key>@MMK_R_kern_H2</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_kern_J2</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_kern_O2</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_kern_S3</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_kern_T3</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_kern_U3</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>@MMK_R_kern_V3</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_R_kern_X3</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_kern_Y3</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_kern_Z3</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_kern_ampersand3</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_R_kern_asterisk3</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_kern_at3</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_R_kern_backslash3</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_R_kern_braceleft2</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_R_kern_braceright2</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_R_kern_bullet3</key>
	<array>
		<string>bullet</string>
	</array>
	<key>@MMK_R_kern_colon3</key>
	<array>
		<string>semicolon</string>
		<string>colon</string>
	</array>
	<key>@MMK_R_kern_comma3</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_kern_copyright3</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_R_kern_dagger3</key>
	<array>
		<string>dagger</string>
	</array>
	<key>@MMK_R_kern_daggerdbl3</key>
	<array>
		<string>daggerdbl</string>
	</array>
	<key>@MMK_R_kern_degree3</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_R_kern_equal3</key>
	<array>
		<string>equal</string>
	</array>
	<key>@MMK_R_kern_exclam3</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_R_kern_exclamdown3</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_R_kern_fraction3</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_R_kern_greater3</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_R_kern_guillemotleft3</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_kern_guillemotright3</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_kern_hyphen3</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
	</array>
	<key>@MMK_R_kern_less3</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_R_kern_notdef3</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>@MMK_R_kern_parenleft2</key>
	<array>
		<string>parenleft</string>
		<string>bracketleft</string>
	</array>
	<key>@MMK_R_kern_parenright2</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
	</array>
	<key>@MMK_R_kern_percent3</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_R_kern_period3</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_R_kern_plus3</key>
	<array>
		<string>plus</string>
		<string>divide</string>
	</array>
	<key>@MMK_R_kern_question3</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_kern_questiondown3</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_R_kern_quotedblleft3</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_kern_quotedblright3</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_R_kern_registered3</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_R_kern_slash3</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_kern_space3</key>
	<array>
		<string>space</string>
	</array>
</dict>
</plist>
